*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/markdown.xml
/.idea/vcs.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
node_modules/
.bundle/
vendor/bundle/
fastlane/report.xml
